*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

body{
    background-color: rgb(238, 238, 238);
    padding: 20px;
    width: 80%;
    margin: 10px auto;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

nav{
    background-color: black;
    float: left;
    width: 100%;
    position: fixed;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li{
    float: left;
}

nav ul li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px;
}

nav ul li a:hover{
    background-color: aliceblue;
    color: black;
}

#icone-responsivo{
    float: right;
    display: none;
}

#aron{
    float: left;
    width: 100%;
    height: auto;
    padding: 15px;
    margin-top: 50%;
    border-bottom: 1px solid black;
}

#joao{
    float: left;
    width: 100%;
    height: auto;
    padding: 15px;
    margin-top: 50%;
    border-bottom: 1px solid black;
}

#billy{
    float: left;
    width: 100%;
    height: auto;
    padding: 15px;
    margin-top: 50%;
    border-bottom: 1px solid black;
}

.aron-colunas{
    width: 50%;
    float: left;
    padding: 15px;
}

.joao-colunas{
    width: 50%;
    float: left;
    padding: 15px;
}

.billy-colunas{
    width: 50%;
    float: left;
    padding: 15px;
}

img{
    display: block;
    margin: 0 auto;
    width: 200px;  
}

h1{
    background-color: rgb(14, 6, 6);
    letter-spacing: 3px;
    text-align: center;
    color: rgb(243, 239, 239);
}

h2{
    color: darkblue;
    text-align: center;
    letter-spacing: 2px;
}

h3{
    text-decoration-line: underline;    
}

p{
    text-align: center;
    font-size: 20px;
}

li{
    font-size: 18px;
}

a{
    color: rgb(5, 139, 0);
    text-decoration: none;
    text-align: center;
}

a:hover{
    color: rgb(226, 43, 43);
    font-weight: bold;
}

html{
    background-color: rgb(185, 223, 224);
}
