* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}

nav {
    background-color: black;
    float: left;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    z-index: 999;
    position: fixed;
    width: 100%;
}

main {
    float: left;
    background-color: darkkhaki;
    margin-top: 60px;
}

#container{
    margin: 0 auto;
    width: 100%;
    background-color: blue;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px;
}

nav ul li a:hover {
    background-color: aliceblue;
    color: black;
}

#icone-responsivo {
    float: right;
    display: none;
}

#aron {
    float: left;
    width: 100%;
    height: auto;
    padding: 10px;
    border-bottom: 1px solid black;
}

#joao {
    float: left;
    width: 100%;
    height: auto;
    padding: 10px;
    border-bottom: 1px solid black;
}

#billy {
    float: left;
    width: 100%;
    height: auto;
    padding: 10px;
    border-bottom: 1px solid black;
}

#imagem {
    float: left;
    width: 100%;
    height: auto;
    padding: 10px;
}

.aron-colunas {
    width: 50%;
    float: left;
    padding: 15px;
}

.joao-colunas {
    width: 50%;
    float: left;
    padding: 15px;
}

.billy-colunas {
    width: 50%;
    float: left;
    padding: 15px;
}

.imagem {
    width: 100%;
    height: auto;
    padding: 15px;
    float: left;
}

figure.hover {
    transform: scale(1.03);
    cursor: pointer;

}


h1 {
    background-color: rgb(14, 6, 6);
    letter-spacing: 3px;
    text-align: center;
    color: rgb(243, 239, 239);
}

h2 {
    color: darkblue;
    text-align: center;
    letter-spacing: 2px;
}

h3 {
    text-decoration-line: underline;
}

p {
    text-align: center;
    font-size: 20px;
}

li {
    font-size: 18px;
}

a {
    color: rgb(5, 139, 0);
    text-decoration: none;
    text-align: center;
}

a:hover {
    color: rgb(226, 43, 43);
    font-weight: bold;
}


footer {
    width: 100%;
    background-color: black;
    float: left;
    color: aliceblue;
    padding: 10px;
    text-align: center;
}


html {
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: 45px;
}

/* final desktop */

/* inicio mobile */

@media only screen and (max-width: 768px) {

    nav ul li {
        font-size: 12px;
        float: left;
    }

    #icone-responsivo {
        display: block;
        padding: 10px;
        cursor: pointer;

    }

    #exibe-menu {
        display: block;

    }

    .aron-colunas {
        width: 100%;
    }

    .joao-colunas {
        width: 100%;
    }

    .billy-colunas {
        width: 100%;
    }

}